/* pseudo-klasa - stanje dugmeta u nekom momentu */
/* inline block - ako zelimo da dodamo neki padding, neki prostor za element */
/* transition mora da ide na inicijalno (link) stanje */
.btn {
    &,
    &:link, 
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: $default-font-size;

        // promena zbog button elementa unutar forme
        border: none;
        cursor: pointer;
    }
}

/* y osa ide od gore ka dole, zato moramo negativnu vrednost za pomeranje ka gore */
/* box-shadow - 0 za x osu, 10px za y osu, 20px za blur */
.btn:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}

// outline none ne zelimo da uklonimo skroz, za focus deo
.btn:active, .btn:focus {
    outline: none;
    transform: translateY(-.1rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

.btn-white {
    background-color: $color-white;
    color: $color-grey-dark;

}

.btn-green {
    background-color: $color-primary;
    color: $color-white;

}

/* zelimo da ovo bude sakriveno iza naseg dugmeta */
/* pozicija mu je apsolutna u odnosu na btn:active - zato smo njemu dodali relative */
.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s

}

.btn-white::after {
    background-color: $color-white;
}

.btn-green::after {
    background-color: $color-primary;
}

/* pseudo elemenat postaje vidljiv nakon sto smo uradili hover nad dugmetom */
.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

/* .75 je delay */
/* fill mode - automatski ce primeniti animacije pre starta (definisane u 0%), da ne bude vidljivo u pocetku, pa onda krenu animacije */
.btn-animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}

// border-bottom, ako zelimo da dodamo i padding
.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: .1rem solid $color-primary;
        padding: .3rem;
        transition: all .2s;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-.2rem);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }
}